<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="false">
    <!-- add your targets here ${stacktrace} -->
    <target xsi:type="File" name="logf" fileName="${basedir}/Logs/${shortdate}/${shortdate}__${level}.log"
        layout="${longdate} ${callsite}${newline}${message}${newline}${exception:format=tostring}"
          archiveAboveSize="1048576"
          maxArchiveFiles="10240"/>
    <target xsi:type="Console" name="logc"
           layout="${longdate} ${callsite}${newline}${message}${newline}${exception:format=tostring}" />


    <target   xsi:type="Mail"
              name="mail"
              smtpServer="smtp.qq.com"
              smtpPort="25"
              enableSsl="true"
              smtpAuthentication="Basic"
              smtpUserName=""
              smtpPassword=""
              from="robot@snailbuy.com"
              to="229439551@qq.com;"
              subject="error"
              addNewLines="true"
              body="${longdate} ${callsite}${newline}${message}${newline}${exception:format=tostring}"
             />

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logc" />
    <logger name="*" minlevel="Info" writeTo="logf" />
    <logger name="*" minlevel="Fatal" writeTo="mail" />
  </rules>
</nlog>